@model IEnumerable<UniversitySystem.Models.ClassRoomAllocation>

@{
    ViewData["Title"] = "Index";
}

<partial name="_PortalPartial" />


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            var startTimeHour = Math.Floor(item.StartTime / 60).ToString();
            var startTimeMin = (item.StartTime % 60).ToString();
            if (double.Parse(startTimeHour) < 10)
            {
                startTimeHour = "0" + startTimeHour;
            }
            if (double.Parse(startTimeMin) < 10)
            {
                startTimeMin = "0" + startTimeMin;
            }
            var endTimeHour = Math.Floor(item.EndTime / 60).ToString();
            var endTimeMin = (item.EndTime % 60).ToString();
            if (double.Parse(endTimeHour) < 10)
            {
                endTimeHour = "0" + endTimeHour;
            }
            if (double.Parse(endTimeMin) < 10)
            {
                endTimeMin = "0" + endTimeMin;
            }

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DeptCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.CourseCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Day.Name)
                </td>
                <td>
                    @string.Concat(string.Concat(startTimeHour, ":"), startTimeMin)
                </td>
                <td>
                    @string.Concat(string.Concat(endTimeHour, ":"), endTimeMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomStatus)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
