@model IEnumerable<UniversitySystem.Models.Department>

@{
    IEnumerable<Department> departments = ViewBag.DepartmentList;
}

<partial name="_PortalPartial" />

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeptCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeptName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in departments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DeptCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeptName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
